*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
}

body {
  margin-top: 2.5rem;
  height: 100%;
  color: #333;
}