*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
}

body {
  margin-top: 2.5rem;
  height: 100%;
  color: #333;
}

.router-link-active,
.router-link-exact-active,
a {
  color: inherit; /* 移除紫色，使用继承的颜色 */
  text-decoration: none; /* 移除下划线 */
}
